<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Compotista - Home</title>
    </head>
    <body>
        <h1 id="compotista">Compotista</h1>
        <p>Hello, Compotista is a simple webapp that convert the Members of the European Parliament data taken from <a href="https://parltrack.euwiki.org">parltrack</a> in the <a href="https://github.com/yohanboniface/django-representatives/blob/master/format.json">"representatives" format</a>.</p>

        <p>If you aren't interested in those data and/or aren't using a lib/application that is implementing the "representatives" format, this website won't have a lot of interest for you.</p>

        <p><b>Data:</b></p>
        <ul>
            <li><a href="/latest/">Latest json dump of representatives dump</a></li>
            <li><a href="/latest/checksum/">Checksum of the data</a></li>
        </ul>

        <p>Compotista is free software under the aGPLv3+. <a href="https://github.com/Psycojoker/compotista">Source code</a></p>

        <p><small><i>Garlandus Compotista was a Belgium logician.</i></small></p>
    </body>
</html>
